@font-face {
  font-family: 'OpenSans';
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('fonts/opensans-bold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('fonts/opensans-regular-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('fonts/opensans-semibold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PlayFair';
  src: url('fonts/playfairdisplay-black-webfont.woff2') format('woff2'),
    url('fonts/playfairdisplay-black-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}