html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: var(--white);
  //overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-main);
  outline: 1px solid var(--white);
}

.link {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;

  &:hover {
    color: var(--primary-main);
    transition: color 0.3s ease;
  }

  &:active {
    outline: none;
    color: var(--primary-shade);
    background-color: transparent;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  &:focus {
    outline: none;
    color: var(--primary-shade);
    background-color: var(--pink-violet);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.w100 {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.brake-desktop {
  display: block;

  @include laptop() {
    display: none;
  }
}

.brake-laptop {
  //display: none;

  @include laptop() {
    display: block;
  }

  @include tablet() {
    display: none;
  }
}

.brake-tablet {
  display: none;

  @include tablet() {
    display: block;
  }

  @include phablet() {
    display: none;
  }
}

.brake-mobile {
  //display: none;

  @include mobile() {
    display: block;
  }
}
