.section-title {
  margin: 0 0 26px;
  @include font(32px, 400);
  //line-height: 1;
  color: var(--black);

  @include phablet() {
    font-size: 28px;
  }

  @include mobile() {
    font-size: 24px;
  }
}
