@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin phablet {
  @media screen and (max-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
