:root {
    --primary-main: #a65cf0;
    --primary-light: #c998fb;
    --primary-shade: #7033ac;
    --pink-light: #f8efff;
    --pink-violet: #ebd1ff;
    --secondary-main: #ff862f;
    --secondary-light: #ffbd59;
    --secondary-shade: #bb370e;
    --red-input: #ff6972;
    --green-input: #b8ec64;
    --gold: #d5b986;
    --white: #fff;
    --grey-light: #f6f6f6;
    --md-grey: #eaeaea;
    --grey: #999;
    --grey-shade: #666;
    --black: #333;
    --lime-color: #daffd1;

    --grid-gap: 32px;
  }

  $breakpoints: (
  xs: 576px,
  sm: 767px,
  md: 1023px,
  lg: 1300px,
  xl: 1920px,
);
