@import "justValidateTooltip.min.scss";

@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "choices.scss";
@import "general.scss";
@import "heading.scss";
@import "blocks/swiper.scss";
@import "blocks/container.scss";
@import "blocks/button.scss";

@import "blocks/header.scss";
@import "blocks/promo.scss";
@import "blocks/special-offers.scss";
@import "blocks/card.scss";
@import "blocks/rating.scss";
@import "blocks/new-collection.scss";
@import "blocks/top.scss";
@import "blocks/useful.scss";
@import "blocks/feedback.scss";
@import "blocks/footer.scss";

@import "blocks/popup-call.scss";

@import "blocks/breadcrump.scss";
@import "blocks/contacts.scss";
@import "blocks/baloon.scss";
@import "blocks/cooperation.scss";

@import "blocks/catalog.scss";
@import "blocks/filters.scss";
