include ./mixins.pug

section.contacts
    h1.visually-hidden
        | Контакты
    .container
        h2.section-title.contacts__title
            | Контакты
        form.contacts__form
            input(class="contacts__input" type="search" name="search" required placeholder="Поиск магазина")
            +buttonFilled("Поиск", ["contacts__btn"])
        .contacts__map#map
