include ./mixins.pug

section.contact
    h1.visually-hidden
        | Контакты
    .container
        h2.section-title.contact__title
            | Контакты
        .contact-shop
            .contact-shop__selected
                input(type="text" class="contact-shop__input" placeholder="Поиск магазина")
                .contact-shop__list.hidden-all
            +buttonFilled("Поиск", ["contact-shop__btn"])
        .map#map
