section.cooperation
    h1.visually-hidden
        | Сотрудничество
    .container
        h2.section-title.cooperation__title
            | Сотрудничество
        .cooperation__description
            h3.cooperation__description-title
                | Поставщикам
            p.cooperation__text
                | При планировании обстановки торгового помещения важно обустроить его с&nbsp;комфортом для покупателей:
                | грамотно зонировать, обеспечить эффективную демонстрацию и&nbsp;хранение товаров в&nbsp;зале. Если вам
                | необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания
                | эффективной торговой деятельности, мы&nbsp;поможем выбрать продукцию с&nbsp;учетом нагрузки
                | от&nbsp;поступающего трафика.
        .cooperation__description
            h3.cooperation__description-title
                | Что вы получаете?
            p.cooperation__text.benefits.benefit1
                | Мы&nbsp;ценим идеи и&nbsp;вдохновение и&nbsp;предлагаем сотрудничество талантливым дизайнерам
                | и&nbsp;архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
            p.cooperation__text.benefits.benefit2
                | Комплексное решение для красивого и&nbsp;функционального обустройства любых пространств.
            p.cooperation__text.benefits.benefit3
                | В&nbsp;ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку
                | в&nbsp;помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых
                | и&nbsp;переговорных комнатах.
        .cooperation__description
            h3.cooperation__description-title
                | Ваши преимущества от сотрудничества
            span.cooperation__subtitle
                | Возможность 1:
            p.cooperation__text
                | Создавайте незабываемые впечатления. Красиво меблированная фотостудия не&nbsp;оставит клиентов равнодушными,
                | а&nbsp;созданная интерьером атмосфера будет надолго запечатлена на&nbsp;их&nbsp;снимках. Стильная
                | и&nbsp;разноплановая обстановка творческого пространства&nbsp;&mdash; ключевая составляющая его успешной
                | деятельности. Позаботьтесь о&nbsp;людях в&nbsp;кадре, а&nbsp;мы&nbsp;поможем правильно выбрать мебель.
            span.cooperation__subtitle.second
                | Возможность 2:
            p.cooperation__text
                | Мы&nbsp;предлагаем застройщикам, работающим на&nbsp;территории&nbsp;РФ, участие наших специалистов
                | от&nbsp;этапа проектирования обстановки квартир и&nbsp;подбора комплексных интерьерных решений
                | до&nbsp;оптовых поставок мебели. Поможем организовать демонстрационный зал с&nbsp;образцами изделий
                | и&nbsp;материалов на&nbsp;площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант
                | меблировки, который удовлетворит даже самые взыскательные ожидания.
        .cooperation__description
            h3.cooperation__description-title
                | Гарантии
            ul.cooperation__list
                li.cooperation__item
                    p.cooperation__text
                        | При приемке товара Покупатель должен внимательно проверить его количество, качество и&nbsp;ассортимент
                        | на&nbsp;соответствие сопроводительным документам и&nbsp;заказу. После подписания товарного чека
                        | Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
                li.cooperation__item
                    p.cooperation__text
                        | На&nbsp;товары, сборка которых производилась покупателем самостоятельно (не&nbsp;специалистами
                        | Продавца), гарантийные обязательства Продавца не&nbsp;распространяются. Также гарантия
                        | не&nbsp;распространяется на&nbsp;повреждения товара, полученные в&nbsp;ходе самостоятельной доставки
                        | и&nbsp;подъема товара. Покупатель не&nbsp;вправе отказаться от&nbsp;товара надлежащего качества,
                        | имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно
                        | приобретающим его потребителем.
                li.cooperation__item
                    p.cooperation__text
                        | Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид
                        | и&nbsp;потребительские свойства товара, а&nbsp;также товарный и&nbsp;кассовый чеки. В&nbsp;этом случае
                        | мы&nbsp;гарантируем вам возврат полной стоимости товара (за&nbsp;вычетом стоимости доставки).
                        | В&nbsp;случае отказа от&nbsp;товара при доставке, клиент оплачивает услуги доставки.
        .cooperation__warranty
            span
                | Срок гарантии на&nbsp;нашу мебель составляет от&nbsp;18&nbsp;до&nbsp;60&nbsp;месяцев