section.error
    h2.error__title.section-heading
        | Указанный ресурс не существует
    a(class="error__link" href="http://localhost:4000/")
        i(class="fa fa--link" aria-hidden="true")
        | Вернуться на главную страницу