section.error
    h2.error__title.section-heading
        | Указанный ресурс не существует
    a(class="link error__link" href="/")
        i(class="fa fa--link" aria-hidden="true")
        | Вернуться на главную страницу