include ./mixins.pug

section.feedback.container
    h2.section-title
        | Мы всегда вам рады!
    .feedback__content
        form(action="#" enctype="multipart/form-data" class="feedback__form js-form")
            p.feedback__text
                | Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
                span.feedback__tooltip                         
            .just-validate-tooltip-container
                input(class="feedback__input" id="name" name="name" type="text" placeholder="Как вас зовут?" data-validate-field="name")

            .just-validate-tooltip-container
                input(class="feedback__input" id="tel" name="phone" type="tel" placeholder="Ваш телефон" data-validate-field="tel")

            .just-validate-tooltip-container
                input(class="feedback__input" id="email" name="email" type="email" placeholder="Ваш e-mail" data-validate-field="email")
            +buttonFilled("Отправить", ["feedback__button"])

            .just-validate-tooltip-container
                label.feedback__checkbox.feedback__label
                    input(type="checkbox" name="checkbox" class="checkbox visually-hidden" checked required data-validate-field="checkbox")
                    span.feedback__span    
                        | Принимаю&nbsp;
                        a(href="#" class="feedback__link")
                            | пользовательское&nbsp;соглашение 
        picture
            source(media="(max-width:1024px)" srcset="images/feedback-mobile.webp" type="image/webp")
            source(srcset=`images/feedback.webp` type="image/webp")
            
            source(media="(max-width:1024px)" srcset="images/feedback-mobile.png")
            img(src="images/feedback.png" alt="Contacts image" class="feedback__img")