section.contacts
    h1.visually-hidden
        | Контакты
    .container
        h2.section_title.contacts__title
            | Контакты
        form.contacts__form
            input(class="contacts__input" type="search" name="search" required placeholder="Поиск магазина")
            button(class="contacts__btn btn_reset" type="submit")
                | Поиск
        .contacts__map#map
