section.new-collection
    .container.new-collection__container
        .new-collection__description
            h2.new-collection__title
                | Оксфорд 1950
            p.new-collection__text
                | Новая коллекция изысканных кресел
        +buttonFilled("Ознакомиться", ["new-collection__btn"])
