section.new-collection
    .container.new_collection__container
        .new_collection__description
            span
                | Оксфорд 1950
            p
                | Новая коллекция изысканных кресел
        button.new_collection__btn
            | Ознакомиться
