section.modal-search
    .modal__container.modal-search__container
        .modal-content.modal-search__content
            .modal-search__img
                img(src="images/search-el.png" loading="lazy" alt="Изображение слона")
            h2.modal-search__text
                | По вашему запросу ничего не нашлось
