section.popup-form.js-popup-form
    .popup-call__container.js-content
        button.popup-call__close-btn.js-close-btn-form
            <svg role="img" aria-label="Изображение иконки закрытия" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42872 0.238643L6.75487 5.42386C7.08171 5.74206 7.08171 6.25794 6.75487 6.57614L1.42872 11.7614C1.10188 12.0795 0.571969 12.0795 0.245129 11.7614C-0.0817098 11.4432 -0.0817098 10.9273 0.24513 10.6091L4.97949 6L0.24513 1.39091C-0.0817089 1.07272 -0.0817089 0.556834 0.24513 0.238643C0.57197 -0.0795478 1.10188 -0.0795477 1.42872 0.238643Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5713 0.238643L5.24513 5.42386C4.91829 5.74206 4.91829 6.25794 5.24513 6.57614L10.5713 11.7614C10.8981 12.0795 11.428 12.0795 11.7549 11.7614C12.0817 11.4432 12.0817 10.9273 11.7549 10.6091L7.02051 6L11.7549 1.39091C12.0817 1.07272 12.0817 0.556834 11.7549 0.238643C11.428 -0.0795478 10.8981 -0.0795477 10.5713 0.238643Z"/>
            </svg>
        .feedback__content123
            h2.section-title.feedback__title
                | Купить в один клик

            form(action="#" enctype="multipart/form-data" class="feedback__form js-form")
                p.feedback__text
                    | Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.
                      
                .just-validate-tooltip-container
                    input(class="feedback__input" id="name" name="name" type="text" placeholder="Как вас зовут?" data-validate-field="name")

                .just-validate-tooltip-container
                    input(class="feedback__input" id="tel" name="phone" type="tel" placeholder="Ваш телефон" data-validate-field="tel")

                +buttonFilled("Отправить", ["feedback__button", "js-submit"])

                .just-validate-tooltip-container
                    label.feedback__checkbox.feedback__label
                        input(type="checkbox" name="checkbox" class="checkbox visually-hidden" checked required data-validate-field="checkbox")
                        span.feedback__span    
                            | Принимаю&nbsp;
                            a(href="#" class="feedback__link")
                                | пользовательское&nbsp;соглашение 