section.popup-slider.js-popup-slider
    h2.visually-hidden
        | Слайдер товара
    .popup-slider__container.js-content
        button.popup-slider__close-btn.js-close-btn-slider
            <svg role="img" aria-label="Изображение иконки закрытия" width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.42872 0.238643L6.75487 5.42386C7.08171 5.74206 7.08171 6.25794 6.75487 6.57614L1.42872 11.7614C1.10188 12.0795 0.571969 12.0795 0.245129 11.7614C-0.0817098 11.4432 -0.0817098 10.9273 0.24513 10.6091L4.97949 6L0.24513 1.39091C-0.0817089 1.07272 -0.0817089 0.556834 0.24513 0.238643C0.57197 -0.0795478 1.10188 -0.0795477 1.42872 0.238643Z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5713 0.238643L5.24513 5.42386C4.91829 5.74206 4.91829 6.25794 5.24513 6.57614L10.5713 11.7614C10.8981 12.0795 11.428 12.0795 11.7549 11.7614C12.0817 11.4432 12.0817 10.9273 11.7549 10.6091L7.02051 6L11.7549 1.39091C12.0817 1.07272 12.0817 0.556834 11.7549 0.238643C11.428 -0.0795478 10.8981 -0.0795477 10.5713 0.238643Z"/>
            </svg>

        .modal-content.modal-gallery__content
            .modal-slider
                .modal-slider__container
                    .swiper-wrapper
                        .modal-slider__item
                            .modal-slider__img
                                picture
                                    source(srcset="images/d-31-1.webp" type="image/webp")
                                    img(src="images/d-31-1.png" loading="lazy" alt="Диван D-31")

                        .modal-slider__item
                            .modal-slider__img
                                picture
                                    source(srcset="images/d-31-2.webp" type="image/webp")
                                    img(src="images/d-31-2.png" loading="lazy" alt="Диван D-31")

                        .modal-slider__item
                            .modal-slider__img
                                picture
                                    source(srcset="images/d-31-3.webp" type="image/webp")
                                    img(src="images/d-31-3.png" loading="lazy" alt="Диван D-31")

                        .modal-slider__item
                            .modal-slider__img
                                picture
                                    source(srcset="images/d-31-4.webp" type="image/webp")
                                    img(src="images/d-31-4.png" loading="lazy" alt="Диван D-31")

                        .modal-slider__item
                            .modal-slider__img
                                picture
                                    source(srcset="images/d-31-5.webp" type="image/webp")
                                    img(src="images/d-31-5.png" loading="lazy" alt="Диван D-31")

            .modal-thumbs
                button.button-circle.button-circle--left.button-circle--slider-next.js-slider-next
                    span.btn-arrow
                .modal-thumbs__slider
                    .modal-thumbs__slider-container
                        .swiper-wrapper
                            .modal-thumbs__slide
                                .modal-thumbs__img
                                    picture
                                        source(srcset="images/d-31-1.webp" type="image/webp")
                                        img(src="images/d-31-1.png" loading="lazy" alt="Диван D-31")

                            .modal-thumbs__slide.swiper-main-slide__item
                                .modal-thumbs__img
                                    picture
                                        source(srcset="images/d-31-2.webp" type="image/webp")
                                        img(src="images/d-31-2.png" loading="lazy" alt="Диван D-31")


                            .modal-thumbs__slide
                                .modal-thumbs__img
                                    picture
                                        source(srcset="images/d-31-3.webp" type="image/webp")
                                        img(src="images/d-31-3.png" loading="lazy" alt="Диван D-31")


                            .modal-thumbs__slide
                                .modal-thumbs__img
                                    picture
                                        source(srcset="images/d-31-4.webp" type="image/webp")
                                        img(src="images/d-31-4.png" loading="lazy" alt="Диван D-31")

                            .modal-thumbs__slide
                                .modal-thumbs__img
                                    picture
                                        source(srcset="images/d-31-5.webp" type="image/webp")
                                        img(src="images/d-31-5.png" loading="lazy" alt="Диван D-31")

                button.button-circle.button-circle--slider-prev.js-slider-prev
                    span.btn-arrow
