include ./mixins.pug

- var products = [{"name": "Диван велюровый", "model": "“R-85”", "rating": "4,5", "cost": "34 990", "image": "rating-img-16", "currency": "RUB"},{"name": "Диван флоковый", "model": "“H-58”", "rating": "4,6", "cost": "23 990", "image": "rating-img-11", "currency": "RUB"},{"name": "Диван велюровый", "model": "“S-44”", "rating": "4,5", "cost": "19 990", "image": "rating-img-17", "currency": "RUB"},{"name": "Диван шиниловый", "model": "“V-43”", "rating": "4,8", "cost": "19 990", "image": "rating-img-7", "currency": "RUB"},{"name": "Диван велюровый", "model": "“R-85”", "rating": "4,5", "cost": "34 990", "image": "rating-img-16", "currency": "RUB"},{"name": "Диван флоковый", "model": "“H-58”", "rating": "4,6", "cost": "23 990", "image": "rating-img-11", "currency": "RUB"},{"name": "Диван велюровый", "model": "“S-44”", "rating": "4,5", "cost": "19 990", "image": "rating-img-17", "currency": "RUB"},{"name": "Диван шиниловый", "model": "“V-43”", "rating": "4,8", "cost": "19 990", "image": "rating-img-7", "currency": "RUB"}]

section.product
    .product__container.container
        .product__top
            .product__slider-main.product-slider
                div(class="swiper-wrapper")
                    .product-slider__item
                        picture
                            source(srcset="images/d-31-1.webp" type="image/webp")
                            img(class="product-slider__item-img" src="images/d-31-1.png" loading="lazy" alt="Диван D-31")
                    .product-slider__item
                        picture
                            source(srcset="images/d-31-2.webp" type="image/webp")
                            img(class="product-slider__item-img" src="images/d-31-2.png" loading="lazy" alt="Диван D-31")

                    .product-slider__item
                        picture
                            source(srcset="images/d-31-3.webp" type="image/webp")
                            img(class="product-slider__item-img" src="images/d-31-3.png" loading="lazy" alt="Диван D-31")

                    .product-slider__item
                        picture
                            source(srcset="images/d-31-4.webp" type="image/webp")
                            img(class="product-slider__item-img" src="images/d-31-4.png" loading="lazy" alt="Диван D-31")

                    .product-slider__item
                        picture
                            source(srcset="images/d-31-5.webp" type="image/webp")
                            img(class="product-slider__item-img" src="images/d-31-5.png" loading="lazy" alt="Диван D-31")

            .product__slider-nav.slider-nav
                .slider-nav__list.swiper-wrapper
                    div(class="slider-nav__item" tabindex="0")
                        picture
                            source(srcset="images/d-31-1.webp" type="image/webp")
                            img(class="slider-nav__item-img" src="images/d-31-1.png" loading="lazy" alt="Диван D-31")
                    div(class="slider-nav__item" tabindex="0")
                        picture
                            source(srcset="images/d-31-2.webp" type="image/webp")
                            img(class="slider-nav__item-img" src="images/d-31-2.png" loading="lazy" alt="Диван D-31")
                    div(class="slider-nav__item" tabindex="0")
                        picture
                            source(srcset="images/d-31-3.webp" type="image/webp")
                            img(class="slider-nav__item-img" src="images/d-31-3.png" loading="lazy" alt="Диван D-31")

                    div(class="slider-nav__item" tabindex="0")
                        picture
                            source(srcset="images/d-31-4.webp" type="image/webp")
                            img(class="slider-nav__item-img" src="images/d-31-4.png" loading="lazy" alt="Диван D-31")

                    div(class="slider-nav__item" tabindex="0")
                        picture
                            source(srcset="images/d-31-5.webp" type="image/webp")
                            img(class="slider-nav__item-img" src="images/d-31-5.png" loading="lazy" alt="Диван D-31")

            .product__info.product-info
                .product-info__rating
                    +ratingStar()
                    span
                        | 4,8

                h2.product-info__title.title
                    | Диван тканевый прямой “D-31”
                p.product-info__descr
                    | Мини 120 см без ящика Stark синий (Рогожка)
                .product-info__price
                    | 28 490 руб

                .product-info__btns
                    button(class="button product-info__btn js-btn-buy")
                        | Купить в один клик
                    button(class="product-info__btn--cart")
                        | + Добавить в корзину

        .product__bottom
            .product-bottom__col
                .product-bottom__content
                    h3.product-bottom__title
                        | Опорный механизм
                    p.product-bottom__descr
                        | Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию.
                        | У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный
                        | штрих — опустить спинку.

                    p.product-bottom__descr
                        | Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.
                .product-bottom__images
                    .product-bottom__img
                        picture
                            source(srcset="images/special-offers-2.1.webp" type="image/webp")
                            img(src="images/special-offers-2.1.png" loading="lazy" alt="Диван D-31 разложенный")

                    .product-bottom__img
                        picture
                            source(srcset="images/product-pattern.webp" type="image/webp")
                            img(src="images/product-pattern.png" loading="lazy" alt="Диван D-31 разложенный")

            -var productItems = [{title:"Гарантия", description: "18 месяцев"},{title:"Артикул", description: "AAA41269004"},{title:"Длина", description: "163 см"},{title:"Высота", description: "90 cм"},{title:"Глубина", description: "108 см"},{title:"Спальное место", description: "200 см х 125 см"},{title:"Высота посадки", description: "45 см"},{title:"Механизм", description: "Опорный"},{title:"Тип обивки", description: "Рогожка"},{title:"Цвет", description: "Синий"},{title:"Наполнитель", description: "Независимый пружинный блок"},{title:"Материал каркаса", description: "Металл. рама с дерев. латами"},{title:"Количество мест", description: "Двухместные"},{title:"Категория", description: "Прямые тканевые диваны"},{title:"Возврат", description: "Условия"}]

            .product-bottom__col.product-bottom__col--right
                ul.product-bottom__chars
                    each item in productItems
                        li.product-chars__item
                            .product-chars__title
                                | #{item.title}
                                .product-chars__dots
                            .product-chars__descr
                                | #{item.description}

section.product-more-section
    .container.product__more
        h2.section-title.product-more__title
            | Похожие товары
        .product__btns
            button.button-circle.button-circle--left.product__prev.js-product-prev
                span
            button.button-circle.product__next.js-product-next
                span
        .swiper-container.js-product-swiper
            .swiper-wrapper.product__list
                +productList(products)
