section.promo
    h1.visually-hidden
        | SitDownPls - магазин мебели
    .swiper-container.promo__swiper
        .swiper-wrapper
            .swiper-slide.promo__slide1
                .container
                    .slide__inner
                        .promo__sale
                            | Скидка&nbsp;15% на&nbsp;первую покупку
                        button.promo__btn
                            | Получить

            .swiper-slide.promo__slide2
                .container
                    .slide__inner
                        .promo__sale
                            | 1000+ аксессуаров для дома
                        button.promo__btn
                            | Подробнее

            .swiper-slide.promo__slide3
                .container
                    .slide__inner
                        .promo__sale
                            | Коллекция стильного и&nbsp;яркого текстиля
                        button.promo__btn
                            | Подробнее
                
        .swiper-pagination

    .container.promo-btn-container
        button.promo__btn.promo__btn--mobile
            | Подробнее