include ./mixins.pug

- var ratingProducts = [{"name": "Диван кожаный", "model": "“R-94”", "rating": "5,0", "cost": "94 990", "image": "rating-img-1", "currency": "RUB"},{"name": "Диван апартековый","model": "“T-75”", "rating": "4,9", "cost": "69 990", "image": "rating-img-2", "currency": "RUB"},{"name": "Диван тканевый","model": "“D-31”", "rating": "4,8", "cost": "28 490", "image": "rating-img-3", "currency": "RUB"},{"name": "Диван велюровый", "model": "“Y-68”", "rating": "4,8", "cost": "22 990", "image": "rating-img-4", "currency": "RUB"},{"name": "Диван из шинила", "model": "“W-95”", "rating": "4,8", "cost": "22 990", "image": "rating-img-5", "currency": "RUB"},{"name": "Диван флоковый", "model": "“G-41”", "rating": "4,8", "cost": "17 990", "image": "rating-img-6", "currency": "RUB"},{"name": "Диван шиниловый", "model": "“V-43”", "rating": "4,8", "cost": "19 990", "image": "rating-img-7", "currency": "RUB"},{"name": "Диван велюровый", "model": "“S-99”", "rating": "4,8", "cost": "19 990", "image": "rating-img-8", "currency": "RUB"},{"name": "Диван из кожзама", "model": "“F-85”", "rating": "4,7", "cost": "26 990", "image": "rating-img-9", "currency": "RUB"},{"name": "Диван флоковый", "model": "“H-64”", "rating": "4,6", "cost": "25 990", "image": "rating-img-10", "currency": "RUB"},{"name": "Диван флоковый", "model": "“H-58”", "rating": "4,6", "cost": "23 990", "image": "rating-img-11", "currency": "RUB"},{"name": "Диван из кожзама", "model": "“R-43”", "rating": "4,6", "cost": "33 990", "image": "rating-img-12", "currency": "RUB"},{"name": "Диван из шинила", "model": "“С-42”", "rating": "4,6", "cost": "18 990", "image": "rating-img-13", "currency": "RUB"},{"name": "Диван велюровый", "model": "“U-58”", "rating": "4,6", "cost": "21 990", "image": "rating-img-14", "currency": "RUB"},{"name": "Диван флоковый", "model": "“F-41”", "rating": "4,5", "cost": "17 990", "image": "rating-img-15", "currency": "RUB"},{"name": "Диван велюровый", "model": "“R-85”", "rating": "4,5", "cost": "34 990", "image": "rating-img-16", "currency": "RUB"},{"name": "Диван велюровый", "model": "“S-44”", "rating": "4,5", "cost": "19 990", "image": "rating-img-17", "currency": "RUB"},{"name": "Диван из шинила", "model": "“С-80”", "rating": "4,4", "cost": "20 990", "image": "rating-img-18", "currency": "RUB"}]
    
    section.rating
        .container
            h2.section-title
                | Высокий рейтинг
            ul.rating__list
                +ratingList(ratingProducts)
            +buttonFilled("Смотреть больше товаров", ["rating__show-more", "js-show-more"])

