include ./mixins.pug

- var topCategories = [{"categorie": "Диваны", "subCategories": ["Прямые","Угловые","Модульные"], "image": "categories-sofa"},{"categorie": "Кресла", "subCategories": ["Мягкие","Кресла-кровати"], "image": "categories-armchair"},{"categorie": "Кровати", "subCategories": ["Односпальные","Двуспальные"], "image": "categories-bed"},{"categorie": "Тумбы и комоды", "subCategories": ["Тумбы","Комоды"], "image": "categories-dresser"},{"categorie": "Стулья", "subCategories": ["Деревянные","Металлокаркас"], "image": "categories-chair"}]
    
//- section.top
//-     .container
//-         h2.section-title
//-             | Топ категории
//-         ul.top__list
//-             +categoriesList(topCategories)

section.top
    .container
        h2.section-title
            | Топ категории
        ul.top__field
            +categoriesList(topCategories)

            