include ./mixins.pug

- var topCategories = [{"categorie": "Диваны", "subCategories": ["Прямые","Угловые","Модульные"], "image": "top-img-1"},{"categorie": "Кресла", "subCategories": ["Мягкие","Кресла-кровати"], "image": "top-img-2", "imageBig": "top-img-tablet-2"},{"categorie": "Кровати", "subCategories": ["Односпальные","Двуспальные"], "image": "top-img-3", "imageBig": "top-img-tablet-3"},{"categorie": "Тумбы и комоды", "subCategories": ["Тумбы","Комоды"], "image": "top-img-4", "imageBig": "top-img-tablet-4"},{"categorie": "Стулья", "subCategories": ["Деревянные","Металлокаркас"], "image": "top-img-5", "imageBig": "top-img-tablet-5"}]
    
//- section.top
//-     .container
//-         h2.section-title
//-             | Топ категории
//-         ul.top__list
//-             +categoriesList(topCategories)

section.top
    .container
        h2.section-title
            | Топ категории
        ul.top__field
            +categoriesList(topCategories)

            