.button {
  padding: 22px 50px;
  border: 2px solid var(--primary-main);
  border-radius: 10px;
  @include font(16px, 700);
  line-height: 1;
  color: var(--white);
  background-color: var(--primary-main);
  cursor: pointer;
  outline: none;
  z-index: 999;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-light);
    transition: background-color 0.3s;
  }

  &:active {
    border: 2px solid var(--primary-shade);
    background-color: var(--primary-shade);
    transition: background-color 0.3s;
  }

  &:focus {
    border: 2px solid var(--primary-shade);
    background-color: var(--primary-light);
    transition: background-color 0.3s;
  }
}

.button-transparent {
  // display: inline-block;
  padding: 17px 32px;
  border: 2px solid var(--primary-main);
  border-radius: 10px;
  @include font(16px, 600);
  line-height: 1;
  color: var(--primary-main);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 999;
  transition: background-color 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--primary-main);
    transition: background-color 0.3s;
  }

  &:active {
    color: var(--white);
    background: var(--primary-shade);
    transition: background-color 0.3s;
  }

  &:focus {
    color: var(--white);
    background: var(--primary-light);
    transition: background-color 0.3s;
  }
}

.button-circle {
  width: 32px;
  height: 32px;
  border: 2px solid var(--primary-main);
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-main);
    transition: background-color 0.3s;
  }

  &:focus {
    border: 2px solid var(--primary-shade);
    background-color: var(--primary-main);
    outline: none;
  }

  &:active {
    border: 2px solid var(--primary-shade);
    background-color: var(--primary-shade);
    transition: background-color 0.3s;
  }

  &:disabled {
    border: 2px solid var(--grey);
    background-color: transparent;
    transition: background-color 0.3s;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    margin-left: -4px;
    border-top: 2px solid var(--primary-main);
    border-right: 2px solid var(--primary-main);
    transform: rotate(45deg);
  }

  &:hover span {
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transition: border-color 0.3s;
  }

  &:focus span {
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transition: border-color 0.3s;
  }

  &:active span {
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transition: border-color 0.3s;
  }

  &:disabled span {
    border-top: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
    transition: border-color 0.3s;
  }

  &--left {
    transform: rotate(180deg);
  }
}

.link-arrow {
  display: inline-block;
  border: 2px solid var(--primary-main);
  border-radius: 100px;
  width: 22px;
  height: 22px;
}

.link-arrow span {
  display: inline-block;
  border-top: 2px solid var(--primary-main);
  border-right: 2px solid var(--primary-main);
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: 3.5px;
  vertical-align: middle;
  transform: rotate(45deg);
}
