.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 296px;
  min-height: 511px;
  height: auto;
  background-color: var(--grey-light);
  border-radius: 10px;
  text-align: center;

  &__img {
    padding-top: 66px;
  }

  &:nth-child(3n + 2) {
    max-width: 624px;

    @include laptop() {
      max-width: 296px;
    }

    .card__article {
      //padding-top: 35px;

      @include laptop() {
        //padding-top: 110px;
      }
    }

    .card__img {
      padding-top: 32px;

      @include laptop() {
        padding-top: 109px;
        width: 254px;
      }
    }
  }

  @include laptop() {
    //max-width: max-content;
  }

  // @include tablet() {
  //   width: calc((100% - 32px) / 2);
  // }

  // @include phablet() {
  //   padding: 0 20px 30px;
  // }

  // @include mobile() {
  //   width: 100%;
  // }

  &__article {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    //width: 100%;
    height: 100%;
    //width: max-content;
    //padding-top: 70px;
  }

  &__ticket {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 7px 16px 9px 3px;
    min-width: 73px;
    line-height: 19px;
    @include font(14px, 600);
    color: var(--white);
    background-color: var(--secondary-main);
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 30px;
    //padding-bottom: 35px;

    min-height: 476px;
    height: 100%;
    // align-items: center;

    @include laptop() {
      max-width: max-content;
      min-height: 402px;
    }

    @include tablet() {
      
    }
  }

  &__title {
    margin: 0 0 19px;
    max-width: 228px;
    @include font(24px, 400);
    line-height: 1.3;

    @include phablet() {
      font-size: 22px;
    }

    @include mobile() {
      max-width: 222px;
      margin: 0 0 21px;
    }
  }

  &__link {
    font-size: 24px;
    color: var(--black);
  }

  &__cost-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 203px;
    margin-bottom: 23px;
    align-items: center;
  }

  &__description {
    //position: absolute;
    // bottom: 35px;
    // left: 30px;

    // display: flex;
    // flex-direction: column;
    // align-items: start;

    width: 222px;
    text-align: left;
  }

  &__sale {
    display: inline-block;
    font-size: 18px;
    line-height: 130%;
    color: var(--secondary-main);
  }

  &__cost {
    display: inline-block;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: var(--grey);
  }

  &__scheme {
    display: block;
    position: absolute;
    max-width: 235px;
    max-height: 125px;
    left: 365px;
    bottom: 34px;

    @include laptop() {
      display: none;
    }
  }

  &__buy-btn {
    display: inline-block;
    margin-bottom: 35px;
  }

}
