.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  flex-grow: 1;
  width: 23%;
  background-color: var(--grey-light);
  border-radius: 10px;

  &__img {
    padding-top: 61px;
    margin-bottom: 16px;

    @include laptop() {
      padding-top: 73px;
    }
  }

  &:nth-child(3n + 2) {
    width: 49%;
    justify-content: end;

    .card__article {
      padding-top: 0;

      @include laptop() {
        padding-top: 112px;
      }
    }

    .card__img {
      padding-top: 35px;

      @include laptop() {
        padding-top: 5px;
        width: 243px;
        margin-bottom: 46px;
      }
    }
  }

  &:nth-child(1) {
    .card__img {
      padding-top: 69px;

      @include laptop() {
        padding-top: 70px;
      }

      @include tablet() {
        padding-top: 70px;
      }

      @include mobile() {
        padding-top: 66px;
      }
    }
  }

  &:nth-child(3) {
    .card__img {
      padding-top: 61px;

      @include laptop() {
        padding-top: 61px;
      }

      @include tablet() {
        padding-top: 65px;
      }
    }
  }

  &:nth-child(5) {
    .card__img {
      padding-top: 49px;

      @include laptop() {
        padding-top: 65px;
      }

      @include tablet() {
        padding-top: 24px;
      }
    }
  }

  &:nth-child(6) {
    .card__img {
      padding-top: 54px;

      @include laptop() {
        padding-top: 65px;
      }

      @include tablet() {
        padding-top: 65px;
      }
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;

    @include mobile() {
      align-items: center;
    }
  }

  &__ticket {
    position: absolute;
    top: 28px;
    left: 0;
    padding: 7px 16px 9px 3px;
    min-width: 73px;
    line-height: 19px;
    @include font(14px, 600);
    color: var(--white);
    background-color: var(--secondary-main);
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);

    @include laptop() {
      top: 29px;
    }

    @include mobile() {
      top: 25px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: end;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;

    @include phablet() {
      padding: 0 15px;
    }
  }

  &__title {
    margin: 0 0 19px;
    max-width: 228px;
    @include font(24px, 400);
    line-height: 1.3;

    @include phablet() {
      font-size: 22px;
    }

    @include mobile() {
      max-width: 222px;
      margin: 0 0 21px;
    }
  }

  &__link {
    font-size: 24px;
    color: var(--black);
  }

  &__cost-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 203px;
    margin-bottom: 23px;
    align-items: center;
  }

  &__description {
    width: 222px;
    text-align: left;

    @include mobile() {
      width: 235px;
    }
  }

  &__sale {
    display: inline-block;
    font-size: 18px;
    line-height: 130%;
    color: var(--secondary-main);
  }

  &__cost {
    display: inline-block;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: var(--grey);
  }

  &__scheme {
    display: block;
    position: absolute;
    max-width: 235px;
    max-height: 125px;
    left: 365px;
    bottom: 34px;

    @include laptop() {
      display: none;
    }
  }

  &__buy-btn {
    display: inline-block;
    margin-bottom: 30px;
  }
}

.card:nth-child(2),
.card:nth-child(5) {
  width: 49%;
}

@media screen and (max-width: 1200px) {
  .card,
  .card:nth-child(2),
  .card:nth-child(5) {
    width: calc((100% - 64px) / 3);
  }
}

@include tablet() {
  .card,
  .card:nth-child(2),
  .card:nth-child(5),
  .product-list__item {
    width: calc((100% - 32px) / 2);
  }
}
// @media screen and (max-width: 1023px) {

// }

@include mobile() {
  .card,
  .card:nth-child(2),
  .card:nth-child(5) {
    width: 100%;
  }
}
// @media screen and (max-width: 570px) {

// }
