.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;

  @include laptop() {
    padding: 0 36px;
  }

  @include tablet() {
    padding: 0 72px
  }

  @include phablet() {
    padding: 0 12px;
  }

}