.modal-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: var(--grey-light);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 276px;
    background-color: var(--grey-light);

    @include mobile {
      width: 194px;
    }
  }

  &__img {
    margin-bottom: 30px;
    width: 161px;
    height: 112px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include mobile {
      width: 73px;
      height: 50px;
    }
  }

  &__text {
    @include font(24px, 400);
    text-align: center;
    color: var(--grey);

    @include mobile {
      font-size: 16px;
    }
  }
}

.active {
  z-index: 999;
  opacity: 1;
  transition: all 0.3s ease;
}
