.rating {
  margin-bottom: 70px;

  &__list {
    @include list-reset();
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @include laptop() {
      grid-template-columns: repeat(3, 1fr);
      
    }

    @include tablet() {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 35px;
    }

    @include phablet() {
      margin-bottom: 28px;
      gap: 14px;
    }
  }

  &__item {
    padding-top: 83px;
    position: relative;
    width: 296px;
    min-height: 418px;
    background-color: var(--grey-light);
    border-radius: 10px;
    text-align: center;

    &:nth-child(n + 9) {
      display: none;
    }

    @include laptop() {
      min-height: 418px;

      &:nth-child(n + 7) {
        display: none;
      }
    }

    @include phablet() {
      width: auto;
      min-width: 140px;
      padding-top: 36px;
      min-height: 261px;
    }
  }

  &__index {
    position: absolute;
    text-align: center;
    top: 27px;
    left: 30px;
    //padding-left: 22px;
    color: var(--secondary-main);

    @include laptop() {
      top: 27px;
      left: 31px;
    }

    @include tablet() {
      top: 28px;
    }

    @include phablet() {
      font-size: 12px;
      top: 15px;
      left: 16px;
    }
  }

  &__count {
    padding-left: 4px;
  }

  &__wrapper {
    padding-top: 5px;

    @include laptop() {
      padding-top: 9px;
    }

    @include tablet() {
      padding-top: 0px;
    }

    @include phablet() {
      padding-top: 14px;
    }
  }

  &__img {
    @include phablet() {
      width: 108px;
      height: 33px;
    }
  }

  &__description {
    width: 236px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;

    @include laptop() {
        width: 236px;
    }

    @include tablet() {
      width: 236px;
    }

    @include phablet() {
      width: 140px;
      padding: 20px 16px;
      padding-right: 28px;
      position: unset;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 23px;

    @include phablet() {
      margin-bottom: 16px;
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    line-height: 31px;
    font-weight: normal;
    word-break: break-word;

    @include phablet() {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__price {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--grey-shade);

    @include laptop() {
      font-size: 16px;
    }

    @include phablet() {
      margin-bottom: 17px;
    }
  }

  &__btn {
    @include laptop() {
      padding: 17px 32px;
    }

    @include tablet() {
      padding: 18px 32px;
    }

    @include phablet() {
      padding: 10px 21px;
    }
  }

  &__show-more {
    display: block;
    margin: 0 auto;

    padding: 20px 35px;
  }
}

.show-card {
  display: block !important;
}

.rating-star {
  width: 14px;
  height: 14px;
  vertical-align: middle;

  @include tablet() {
    width: 16px;
    height: 16px;
  }
}
