.top {
  margin-bottom: 64px;

  @include laptop() {
    margin-bottom: 61px;
  }

  @include tablet() {
    margin-bottom: 68px;
  }

  @include mobile() {
    margin-bottom: 77px;
  }

  &__field {
    @include list-reset();

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 511px 405px;
    gap: 32px;
    grid-template-areas:
      "a a a b b b"
      "c c d d e e";

    @include laptop() {
      grid-template-rows: repeat(2, 511px);
      grid-template-areas:
        "a a a a c c"
        "d d b b e e";
    }

    @include tablet() {
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 511px);
      grid-template-areas:
        "a a"
        "c b"
        "d e";
    }

    @include phablet() {
      grid-column-gap: 17px;
      grid-template-rows: 332px 206px 206px;
    }
  }

  &__card {
    position: relative;
    padding: 30px;
    padding-top: 25px;
    background-color: #f6f6f6;
    border-radius: 10px;

    @include laptop() {
      position: relative;
      overflow: hidden;
    }
  }

  &__card:first-child {
    grid-area: a;

    @include phablet() {
      padding: 28px;

      .top__card-img {
        width: 350px;
        transform: translateX(-73px);
      }
    }
  }

  &__card:nth-child(2) {
    grid-area: b;

    @include laptop() {
      .top__card-img {
        width: 505px;
        transform: translateX(-273px);
      }
    }
  }

  &__card:nth-child(3) {
    grid-area: c;

    @include laptop() {
      .top__card-img {
        width: 447px;
      }
    }
  }

  &__card:nth-child(4) {
    grid-area: d;

    @include laptop() {
      .top__card-img {
        width: 485px;
        transform: translateX(-261px);
      }
    }
  }

  &__card:last-child {
    grid-area: e;

    @include laptop() {
      .top__card-img {
        width: 376px;
        transform: translateX(-143px);
      }
    }
  }

  &__card:not(:first-child) {
    @include phablet() {
      padding: 16px;

      .top__card-img {
        transform: translateX(-15px);
        width: 152px;
      }
    }

    @include mobile() {
      padding-top: 14px;
    }
  }

  &__feature {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: var(--grey);
    margin-bottom: 14px;

    @include mobile() {
      display: block;
    }
  }

  &__feature:not(:last-of-type) {
    margin-right: 26px;

    @include mobile() {
      margin-bottom: 5px;
    }
  }

  &__card-name {
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    color: var(--black);

    a {
      display: none;
      line-height: 18px;
      vertical-align: middle;

      @include phablet() {
        display: inline-block;
      }
    }
  }

  &__card-img {
    margin-bottom: 22px;
    transform: translateX(-30px);
  }

  &__card-link {
    display: inline-block;
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding-bottom: 2px;
    text-decoration: none;

    @include laptop() {
      bottom: 32px;
    }

    @include tablet() {
      bottom: 28px;
    }

    .link-inner {
      padding-right: 5px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      color: var(--primary-main);
      vertical-align: 2px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;
    }
  }

  &__card-link:hover {
    .link-inner {
      border-bottom: 2px solid var(--primary-main);
      transition: border-bottom 0.3s ease;
    }

    .link-arrow {
      background-color: var(--primary-main);

      span {
        border-top: 2px solid var(--white);
        border-right: 2px solid var(--white);
      }
    }
  }

  &__card-link:focus {
    .link-inner {
      border-bottom: 2px solid var(--primary-main);
      transition: border-bottom 0.3s ease;
    }

    .link-arrow {
      background-color: var(--primary-light);

      span {
        border-top: 2px solid var(--white);
        border-right: 2px solid var(--white);
      }
    }
  }

  &__card-link:active {
    .link-inner {
      color: var(--primary-shade);
      border-bottom: 2px solid var(--primary-shade);
      transition: border-bottom 0.3s ease;
    }

    .link-arrow {
      background-color: var(--primary-shade);
      border: 2px solid var(--primary-shade);

      span {
        border-top: 2px solid var(--white);
        border-right: 2px solid var(--white);
      }
    }
  }

  @include phablet() {
    &__card-link {
      display: none;
    }
  }

  @include mobile() {
    &__card-name {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 16px;
    }

    &__card-link-top {
      margin-left: 7px;
    }

    &__feature {
      font-size: 10px;
      margin: 0;
    }

    &__feature:not(:last-of-type) {
      margin-right: 50px;

      @include mobile() {
        margin-right: 12px;
      }
    }
  }

  &__category-list {
    @include list-reset();

    @include mobile {
      margin-bottom: 6px;
    }
  }
}

.top__card:first-child {
  @include mobile {
    .top__feature {
      display: inline-block;
      margin-bottom: 0;
      font-size: 15px;
    }

    .top__card-name {
      font-size: 24px;
    }

    .top__category-list {
      @include list-reset();
      padding: 0;
      margin-bottom: 18px;
    }
  }
}
